@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.navbar-brand {
    font-size: 23px;
}
.nav-item a{
    font-size: 20px;
}
.banner h2{
    font-family: 'Corinthia', cursive;
    font-size: 50px;
    margin-top: 40px;
}
.background-image{
    background-image: url("../img/bg.jpeg");
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.card-text{
    font-size: 20px;
}
.card-title{
    text-transform: capitalize;
}
.service{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.service .fas{
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.service:hover{
    background-color: rgb(24, 182, 255);
    color: #ffffff;
    border:0px;
}
.notice{
    display: none;
}
.footer{
    margin-top: 40px;
    background-color: #C0D5FE;
    padding: 40px;
}
.footer a{
    text-decoration: none;
}